<a href="https://colab.research.google.com/github/gogowonji/Big-Data-Analysis/blob/main/20230425_project6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#타이타닉생존율분석
#결측치 치환해야함
#상관관계의 정도 - 상관 계수 
#회귀분석 - 인과관계를 설명 - 영향력의 크기를 알아내야 함

import seaborn as sns
import pandas as pd
titanic = sns.load_dataset("titanic")
titanic.to_csv('titanic.csv',index = False)

In [ ]:
#결측값 확인
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
#결측값 채우기
print(titanic['age'].median())
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

print(titanic['embarked'].value_counts())
titanic['embarked'] = titanic['embarked'].fillna('S')

print(titanic['deck'].value_counts())
titanic['deck'] = titanic['deck'].fillna('C')

print(titanic['embark_town'].value_counts())
titanic['embark_town'] = titanic['embark_town'].fillna('Southampton')

28.0
S    646
C    168
Q     77
Name: embarked, dtype: int64
C    747
B     47
D     33
E     32
A     15
F     13
G      4
Name: deck, dtype: int64
Southampton    646
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [ ]:
#결측값 다시 확인
titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64