<a href="https://colab.research.google.com/github/gogowonji/Big-Data-Analysis/blob/main/20230404_test09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data_dic = {'year':[2018,2019,2020],'sales':[350,480,1099]}
print(data_dic)

{'year': [2018, 2019, 2020], 'sales': [350, 480, 1099]}

In [2]:
df1 = pd.DataFrame(data_dic)
print(df1)

   year  sales
0  2018    350
1  2019    480
2  2020   1099

In [10]:
data2 =['1반','2반','3반','4반','5반']
df2 = pd.DataFrame([[89,92,90],[92.8,89.9,95.2]], index=['중간고사','기말고사'],columns=data2[0:3])
print(df2)

        1반    2반    3반
중간고사  89.0  92.0  90.0
기말고사  92.8  89.9  95.2

In [9]:
data_df = [['20201101','Hong','90','95'],['20201102','Kim','93','94'],['20201103','Lee','87','97']]
df3 = pd.DataFrame(data_df)
print(df3)

          0     1   2   3
0  20201101  Hong  90  95
1  20201102   Kim  93  94
2  20201103   Lee  87  97

In [11]:
df3.columns = ['학번','이름','중간고사','기말고사']
print(df3)

         학번    이름 중간고사 기말고사
0  20201101  Hong   90   95
1  20201102   Kim   93   94
2  20201103   Lee   87   97

In [12]:
print(df3.head(2))

         학번    이름 중간고사 기말고사
0  20201101  Hong   90   95
1  20201102   Kim   93   94

In [13]:
print(df3.tail(2))

         학번   이름 중간고사 기말고사
1  20201102  Kim   93   94
2  20201103  Lee   87   97

In [14]:
print(df3['이름'])

0    Hong
1     Kim
2     Lee
Name: 이름, dtype: object

In [15]:
df3.to_csv(r'pandaTestWrite.csv',encoding='euc-kr')

In [19]:
df4 = pd.read_csv('inputTest.csv',encoding='utf-8',index_col=0,engine='python')
print(df4)

       3월     4월     5월     6월    7월
수입  15000  20000  35000  20000  1800
지출  10000  21000  31500  22000  1200
잔고   5000  -1000   3500  -2000   600