<a href="https://colab.research.google.com/github/gogowonji/Big-Data-Analysis/blob/main/20230404_test08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data1 = [10,20,30,40,50]
print(data1)

[10, 20, 30, 40, 50]

In [4]:
data2 = ['1반','2반','3반','4반','5반']
print(data2)

['1반', '2반', '3반', '4반', '5반']

In [5]:
sr1 = pd.Series(data1) # 인덱스
print(sr1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
sr2 = pd.Series(data2)
print(sr2)

0    1반
1    2반
2    3반
3    4반
4    5반
dtype: object

In [7]:
sr3 = pd.Series([101,102,103,104,105])
print(sr3)

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [8]:
sr4 = pd.Series(['월','화','수','목','금']) # 데이터 넣기
print(sr4)

0    월
1    화
2    수
3    목
4    금
dtype: object

In [9]:
sr5 = pd.Series(data1, index = [1000,1001,1002,1003,1004]) # 인덱스를 설정해줌
print(sr5)

1000    10
1001    20
1002    30
1003    40
1004    50
dtype: int64

In [10]:
sr6 = pd.Series(data1, index=data2)
print(sr6)

1반    10
2반    20
3반    30
4반    40
5반    50
dtype: int64

In [11]:
sr7 = pd.Series(data2, index = sr4)
print(sr7)

월    1반
화    2반
수    3반
목    4반
금    5반
dtype: object

In [14]:
print(sr7[2],sr7['수'],sr7[-1])

3반 3반 5반

In [15]:
print(sr7[0:2])

월    1반
화    2반
dtype: object

In [17]:
print(sr7.index)
print(sr7.values)

Index(['월', '화', '수', '목', '금'], dtype='object')
['1반' '2반' '3반' '4반' '5반']